@import "../../app";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  flex: 1;
  align-self: self-end;
  display: flex;
  align-items: center;
  gap: 20px;

  @include mobile {
    align-self: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
  }

  hr {
    width: 500px;
    border: none;
    border-top: 1px solid gray;

    @include mobile {
      width: 300px;
    }
  }

  p {
    font-weight: 200;
    font-size: 20px;
    color: gray;
    text-align: right;
  }
}

.titleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    width: 100%;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    img {
      width: 300px;
      height: 100px;
      border-radius: 50px;
      object-fit: cover;

      @include mobile {
        width: 200px;
        height: 70px;
      }
    }

    h1 {
      font-size: 96px;
      font-weight: 100;

      @include mobile {
        font-size: 40px;
      }
    }

    button {
      width: 300px;
      height: 100px;
      border-radius: 50px;
      background-color: orange;
      border: none;
      font-size: 24px;
      cursor: pointer;

      @include mobile {
        font-size: 16px;
        width: 200px;
        height: 70px;
      }
    }
  }
}

.listContainer {
  max-width: 1366px;
  flex: 2;
  display: flex;
  margin: auto;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .box {
    padding: 50px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;

    @include mobile {
      border: none;
    }

    p {
      word-wrap: break-word;
      overflow-wrap: break-word;
      @include mobile {
        display: none;
      }
    }

    button {
      padding: 10px;
      background-color: orange;
      cursor: pointer;
      border: none;
      width: auto;


      @include mobile {
        margin-top: 10px;
        border-radius: 10px;
        align-self: center;
        width: 230px;
      }
    }
  }
}