@import "../../app";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  span {
    font-weight: bold;
  }

  .social {
    display: flex;
    gap: 12px;

    @include mobile {
      margin-right: 2rem;
      gap: 2rem;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }
}